.locationForm{
    height: 500px;
    width: 500px;

     z-index: 1; 
    background-size: contain;
    margin-top:250px;

}
.lImg{
    height: 500px;
    width: 500px;
    opacity: 0.4;
}


.buttonMrg{
    margin-top:200px;
    display: contents;
    
}
.bgInp{
    background-color: rgb(185, 141, 124);


}
.bgInp::placeholder
{
    color:rgb(49, 48, 48)
} 

@media screen and (max-width: 600px) {
    .lImg{
        height: 500px;
        width: 400px;
        opacity: 0.4;
    }
    .locationForm{
        margin-right:0px;

    }
}

@media screen and (min-width: 1500px) {

    .locationForm{
        height: 600px;
        width: 600px;
    
         z-index: 1; 
        background-size: contain;
        margin-top:250px;
    
    }
    .lImg{
        height: 600px;
        width: 600px;
        opacity: 0.4;
    }
    
}