.orders{
    min-height: 780px;
    margin-top: -20px;
    background-image: url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
}

  .containerOrder {
    margin: 50px auto; 
    width: 600px;
}
.progressbar {
    counter-reset: step;
    height: 40px;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: #55b776;
}
.progressbar li.active + li:after {
    background-color: #55b776;
}



  .selectPizza{
      width:200px;
      margin-top:100px;
      height: 50px;
      margin-left: 50px;
  }
  .pizzaChosed{
      height: 300px;
      width: 300px;
      border-radius: 20px;
      margin-left: 50px;

  }
 .chosed{
     margin-top:100px;
 }
 .cancle{
     margin-left: 30px;
     cursor: pointer;
     color:red
 }
 .move{
    margin-top:20px;
 }
 #steps{
     width: 100%;
     height: 150px;
 }
#OPizza{
    margin-top:-100px;
}

.buttonStep {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 5 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    background-color:whitesmoke ;
    text-align: center;
    transition: all 0.2s;
    margin-right: 4px;
}

.buttonStep:hover {
    color: #000000;
    background-color: lightslategray ;
}
.orderOptionLoaction{
    margin-top:-80px;
}
#completedOrders{
    display: flex;
    flex-direction: column;
   align-items: center;
   background-color: rgb(156, 123, 123);
   height: 200px;
    overflow: auto;
    margin-left:50px;

}
.bgInpThree{
    background: ghostwhite;
}
.costTopping{
    margin-top: 10px;
    font-size: 20px;
}
@media screen and (max-width: 600px) {
    .orders{
        margin-right:0px;

    }
    .stepOne{
        height: auto;
        background-image: url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        }
        .selectPizza{
            width:200px;
            margin-top:100px;
            height: 50px;
           margin-left: 30px !important;
        }
       
.sizeLocation{
    margin-top:250px !important;
}
.toppingLocation{
    margin-top:100px !important;

}

.pizzaChosed{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-left: 0px;
    margin-top:300px;

}
.containerOrder {
    margin: 50px auto; 
    width: 300px;
}
#completedOrders{
    margin-top: 300px;
    background-color: lightgrey;
    width: 250px;
    margin-left: 50px;
    background-color: rgb(156, 123, 123);

}
.costTopping{
    margin-top: 10px;
    font-size: 20px
}
}
@media screen and (max-width: 992px) {
  
    .sizeLocation{
        margin-top:250px;
    }
    .toppingLocation{
        margin-top:100px;
    
    }
  
    .pizzaChosed{
        height: 200px;
        width: 200px;
        border-radius: 20px;
        margin-left: 0px;
        margin-top:300px;
    
    }
    .containerOrder {
        margin: 50px auto; 
        width: 300px;
    }
    .orderOptionLoaction{
        margin-top:-80px;
        margin-left: 30px;
 
    }
    .selectPizza{
        width:200px;
        margin-top:100px;
        height: 50px;
        margin-left: -50px;
    }

    .orders{
        min-height: 1500px;
        margin-top: -20px;
        margin-right: 0px;
    
    }
    .costTopping{
        margin-top: 10px;
        font-size: 20px
    }
    #completedOrders{
        margin-top: 320px;
        background-color: lightgrey;
        width: 250px;
        margin-left: 50px;
        background-color: rgb(156, 123, 123);
    
    }
}

@media screen and (min-width: 1500px) {
    .orders{
        min-height: 1000px;
        margin-top: -20px;
        background-image: url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: auto;
    }
    

}